.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.home-link {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
}

.home-link:hover {
  text-decoration: underline;
}

.room-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  overflow-y: auto;
  max-height: 90vh; /* Adjust based on your design */
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.room-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.room-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-info {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-guests-container {
  margin-top: 20px;
}

.guests-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

.current-guests-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease-out;
}

.guest-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  transition: background-color 0.3s, transform 0.3s;
}

.guest-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.guest-item p {
  margin: 5px 0;
  font-size: 0.9em;
}

.guest-form-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
}
